
/*
*Author:Jose Machava
*Author URI:http://josemachava.com
*Project Name:Write
*Theme URI :write.josemachava.com
*Version:0.0.1
*Date:10/10/2016
*Tags:AI, Artificial Intelligence, Intelligent System
*Description::Write is program that allow anyone to write  a document use voice or normal input  with keyboard
*/
@import url("../partials/css/fonts.css");

*{
  background-color: #f7f7f7;
}
#app-name{
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", "sans-serif";
}
#page{
  display: block;
  background-color: #fff;
  margin: auto;
  padding: 30px;
  height: 500px;
  width: 600px;
  font-family: "Lato", "sans-serif";
  font-weight:400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  color: black;
  resize: none;
  border: 1px solid #fff;
  box-shadow: 0px 0px 3px 3px  #f2f2f2;
}
#page:focus{
    outline: none;
}

#save {
    color: white;
    border: none;
    height: 35px;
    width: 70px;
    background-color: #333;
}

